certifi==2019.9.11
chardet==3.0.4
cheroot==8.2.1
idna==2.6
jaraco.functools==2.0
more-itertools==7.2.0
pkg-resources==0.0.0
portend==2.6
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
pytz==2019.3
requests==2.20.0
six==1.12.0
telebot==0.0.3
tempora==1.14.1
urllib3==1.22
zc.lockfile==2.0
